/* Text.css */
.SubText{
    color: #030303;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    line-height: 16px;
    margin-top: 20px;
    margin-left: 16px;
  }
  