/* StylesComponents.module.css */
.Container {
  display: flex;
  margin-top: 20px;
  margin-right: 82px;

}

.CenterAlign {
  display: f;
  flex: 1; /* Ocupa o espaço disponível */
  text-align: center; /* Centraliza o texto */
}

.TextTitle {
  color: #030303;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 36px;
  margin-left: 20px;
  
  text-align: center; /* Centraliza o texto */
  
   /* Ajusta a margem entre TextTitle e ReturnArrow */
}

.Icon {
  flex: auto;
  color: #030303;
  fill: #030303;
  font-size: 20px;
  width: 20px;
  height: 30px;
   /* Ajusta a distância entre o ícone e o TextTitle */
  
}


/* SubTitle.module.css */
.SubTitle {
  color: #838485;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-align: center; /* Centraliza o texto */
}



/* Estilos específicos para o InforCard */
.InforCard {
  color: #030303;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin-top: 32px;
  margin-left: 20px;
   /* Ajuste apenas a margem esquerda */
}
.ButtonFormsContainer {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  margin-bottom: 20px; /* Espaço na parte inferior */
  margin-top: 20px;
}


.ButtonForms {
  cursor: pointer;
  width: 335px;
  height: 48px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #030303;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 20px;
  outline: none;
  margin-left: auto; /* Define a margem esquerda como "auto" para centralizar */
  margin-right: auto; /* Define a margem direita como "auto" para centralizar */
  margin-bottom: 20px; /* Espaço na parte inferior */
  margin-top: 20px;
}
/* InputNotas.module.css */
.InputNotas {
  display: flex; /* Centraliza os itens horizontalmente */
  justify-content: center; /* Centraliza horizontalmente */
  top: 1218px;
  left: 20px;
  width: 315px;
  height: 196px; /* Defina a altura desejada */
  padding: 8px; /* Ajuste o preenchimento conforme necessário */
  border: 1px solid #505050;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  outline: none;
  margin-right: 20px;
  resize: none; /* Impede que o textarea seja redimensionado pelo usuário */
  text-align: justify; /* Justifica o texto dentro do textarea */
}

/* ContainerNotas.module.css */
.ContainerNotas {
  display: flex;
  justify-content: center;
}

