/* CalendarComponent.module.css */

/* Você pode adicionar seus estilos personalizados aqui */
.calendarContainer {
  /* Estilos personalizados para o container do calendário */
  /* Por exemplo: */
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  display: flex; /* Centraliza os itens horizontalmente */
  justify-content: center; /* Centraliza horizontalmente */
}
